In [1]:
# Dependencies
import numpy as np
import datetime as dt
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [5]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june0 = dt.date(2010, 6, 1)
july0 = dt.date(2010, 7, 1)
june1 = dt.date(2011, 6, 1)
july1 = dt.date(2011, 7, 1)
june2 = dt.date(2012, 6, 1)
july2 = dt.date(2012, 7, 1)
june3 = dt.date(2013, 6, 1)
july3 = dt.date(2013, 7, 1)
june4 = dt.date(2014, 6, 1)
july4 = dt.date(2014, 7, 1)
june5 = dt.date(2015, 6, 1)
july5 = dt.date(2015, 7, 1)
june6 = dt.date(2016, 6, 1)
july6 = dt.date(2016, 7, 1)
june7 = dt.date(2017, 6, 1)
july7 = dt.date(2017, 7, 1)

results = []
results = session.query(Measurement.date, Measurement.tobs)
results = session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= june0) & (Measurement.date < july0)|
       (Measurement.date >= june1) & (Measurement.date < july1)|
       (Measurement.date >= june2) & (Measurement.date < july2)|
       (Measurement.date >= june3) & (Measurement.date < july3)|
       (Measurement.date >= june4) & (Measurement.date < july4)|
       (Measurement.date >= june5) & (Measurement.date < july5)|
       (Measurement.date >= june6) & (Measurement.date < july6)|
       (Measurement.date >= june7) & (Measurement.date < july7)).all()

In [7]:
#  3. Convert the June temperatures to a list.
june_temperature = list(results)

In [9]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temperature_df = pd.DataFrame(results, columns=['date', 'June Temps'])
june_temperature_df = june_temperature_df.set_index(june_temperature_df['date'], inplace=False)
print(june_temperature_df)

                  date  June Temps
date
2010-06-01  2010-06-01        78.0
2010-06-02  2010-06-02        76.0
2010-06-03  2010-06-03        78.0
2010-06-04  2010-06-04        76.0
2010-06-05  2010-06-05        77.0
...                ...         ...
2017-06-26  2017-06-26        79.0
2017-06-27  2017-06-27        74.0
2017-06-28  2017-06-28        74.0
2017-06-29  2017-06-29        76.0
2017-06-30  2017-06-30        75.0

[1700 rows x 2 columns]

In [10]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temperature_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [11]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec0 = dt.date(2010, 12, 1)
jan0 = dt.date(2011, 1, 1)
dec1 = dt.date(2011, 12, 1)
jan1 = dt.date(2012, 1, 1)
dec2 = dt.date(2012, 12, 1)
jan2 = dt.date(2013, 1, 1)
dec3 = dt.date(2013, 12, 1)
jan3 = dt.date(2014, 1, 1)
dec4 = dt.date(2014, 12, 1)
jan4 = dt.date(2015, 1, 1)
dec5 = dt.date(2015, 12, 1)
jan5 = dt.date(2016, 1, 1)
dec6 = dt.date(2016, 12, 1)
jan6 = dt.date(2017, 1, 1)
dec7 = dt.date(2017, 12, 1)

results = []
results = session.query(Measurement.date, Measurement.tobs)
results = session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= dec0) & (Measurement.date < jan0)|
       (Measurement.date >= dec1) & (Measurement.date < jan1)|
       (Measurement.date >= dec2) & (Measurement.date < jan2)|
       (Measurement.date >= dec3) & (Measurement.date < jan3)|
       (Measurement.date >= dec4) & (Measurement.date < jan4)|
       (Measurement.date >= dec5) & (Measurement.date < jan5)|
       (Measurement.date >= dec6) & (Measurement.date < jan6)|
       (Measurement.date >= dec7)).all()

In [12]:
# 7. Convert the December temperatures to a list.
dec_temperature = list(results)

In [14]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temperature_df = pd.DataFrame(results, columns=['date', 'December Temps'])
dec_temperature_df = dec_temperature_df.set_index(dec_temperature_df['date'], inplace=False)
dec_temperature_df

                  date  December Temps
date
2010-12-01  2010-12-01            76.0
2010-12-03  2010-12-03            74.0
2010-12-04  2010-12-04            74.0
2010-12-06  2010-12-06            64.0
2010-12-07  2010-12-07            64.0
...                ...             ...
2016-12-27  2016-12-27            71.0
2016-12-28  2016-12-28            71.0
2016-12-29  2016-12-29            69.0
2016-12-30  2016-12-30            65.0
2016-12-31  2016-12-31            65.0

[1517 rows x 2 columns]

In [16]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temperature_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000